*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  min-height: 100%
}
body{
  background: #852D1F;
  background-size: 100% 100%;
}
.one,
.two,
.three{
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  padding: 40px;
}
.one{
  background: #852D1F url('../images/bg.jpg') no-repeat center center;
  background-size: 100% 100%;
  z-index: 100;

}
.two{
  background: #e6d3c8 url('../images/bg2.jpg') no-repeat center center;
  background-size: 100% 100%;
  z-index: 99;
}
.three{
  background: #852D1F url('../images/bg.jpg') no-repeat center center;
  background-size: 100% 100%;
  z-index: 98;
}
.map{
  width: 100%;
  max-width: 800px;
  height: 60%;
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: solid #fff 8px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.map iframe{
  width: 100%;
  height: 100%;
}
.event-cont{
  width: 90%;
  margin: auto;
  text-align: center;
}
.event-cont img{
  width: 100%;
}
.d1, .d2, .d3, .d4{
  position: absolute;
  width: 15vh;
}
.d1{
  left:15px;
  top:15px;
}
.d2{
  right:15px;
  top:15px;
}
.d3{
  right:15px;
  bottom:15px;
}
.d4{
  left:15px;
  bottom:15px;
}
.dec-borders img,
.place-holder img,
.ganesh img{
  width: 100%;
}
.place-holder{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ganesh{
  width: 40px;
  position: absolute;
  right: 15px;
  top:15px;
  opacity: .6;
}
.heading{
  width: 80%;
  max-width: 200px;
  margin: auto;
  margin-bottom: 30px;
}

.heading img{
  width: 100%;
}
/*== Resp CSS ==*/

@media screen and (max-width: 799px), screen and (max-device-width:  799px) {
  .map{
    width: 100%;
    height: 100%;
    border: none;
    z-index: 101;
  }
}
